{# index.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>Course API</title>
    <!-- Include other necessary CSS or external dependencies -->
</head>
<body>
    <!-- Your HTML content -->

    <script>
        fetch('/courses/list')
            .then(response => response.json())
            .then(data => {
                // Process the received data
                console.log(data);
            })
            .catch(error => {
                // Handle any errors
                console.error(error);
            });
    </script>
</body>
</html>
