{# index.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>API Consumption with JavaScript</title>
</head>
<body>
    <h1>RUN</h1>
    <script src="{{ asset('js/script.js') }}"></script>
</body>
</html>