{# index.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>API Consumption with JavaScript</title>
</head>
<body>
    <h1>Welcome to Minh and Hung's website</h1>
    <button><a href="{{ path('app_admin') }}">Click here to continue</a></button>
    <script src="{{ asset('js/script.js') }}"></script>
</body>
</html>